
#card-details {
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

#card-detail:hover {
    transform: scale(1.03);
    box-shadow: 0 5px 10px #c3cfe2 !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

a {
    text-decoration: none;
}

.card-footer p {
    float: right;
}

