

#details-img {
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
/*
@media (max-width: 640px) {
    input {
        height: 10vh;
        font-size: 2rem;
    }
    input::-webkit-input-placeholder, textarea::placeholder {
        font-size: 1.2rem;
    }
}

*/